html{
    scroll-behavior: smooth;
}

body{
    background-image: url("img/BG.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

#ieee{
    width: 156px;
    height: auto;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    outline: none;
}
li{
    margin-top: none;
}

.navbar{
    position: fixed;
    z-index: 1050;
    width: 100% ;
    font-size: 12px;
}

.bg-custom {
    background-color: #1b191d;
    opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 800;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    font-weight: 800;
}

.nav-item{
    margin: 2px 12px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.nav-item:hover{
    border-bottom: 2px solid #fff;
}

#one{
    height: auto;
    width: auto;
    background: transparent;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

#main-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 0px 20px;
    width: 250px;
}

.row {
    margin-top: 0px;
    width: 100%;
    height: auto;
}

.card {
    background: transparent;
    transition: background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: white;
}

.modal-content{
    background-color: #110c22;
}

.modal-title{
    color: #fff;
}

.modal-header{
    border: none;
}

.modal-footer{
    border-top: none;
    justify-content: center;
}

#badge-logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 40px 10px;
}

#modal-body-holders {
    margin: -50px 10px;
    justify-content: center;
    text-align: center;
}

#modal-text-box {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    padding: 20px;
    text-align: justify;
}

@media only screen and (min-width: 760px) and (max-height: 1024px) {

    .bg-custom {
        background-color: transparent;
        opacity: 1;
    }


    #main-container{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 150px 20px 0px 20px;
        width: 100%;
    }

    .row {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
}