html{
    scroll-behavior: smooth;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    outline: none;
}

li{
    margin-top: none;
}

body {
    background-image: url("img/BG.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    position: fixed;
    z-index: 1050;
    width: 100% ;
}

.bg-custom {
    background-color: #1b191d;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    font-weight: 800;
}

.nav-item{
    margin: 2px 12px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.nav-item:hover{
    border-bottom: 2px solid #fff;
}

#ieee{
    width: 156px;
    height: auto;
    display: none;
}

#one{
    height: 100vh;
    width: auto;
    background-image: url('./img/Man2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-login{
    text-align: center;
    padding: 16px;
    margin-top: 12px;
}

#btn-login>a{
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000;
    padding: 6px 8px;
    transition: 0.1s ease-in;
}

#btn-login>a:hover{
    text-decoration: none;
}

#btn-login>a:hover{
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

#main-container{
    margin-top: 200px;
}

#logo{
    margin-top: 0px;
    width: 300px;
}

#logo-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#regis-holder {
    margin-top: 50px;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;

    color: white;
}

#go-back-holder {
    margin-top: 20px;
    display: block;
    justify-content: center;
    align-content: center;
}



@media only screen and (min-width: 760px) and (max-height: 1024px) {

    .bg-custom {
        background-color: transparent;
    }

    #ieee {
        display: block;
    }

    #logo{
        margin-left: 16px;
        margin-top: 128px;
    }
}