html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(172deg,#110c22 33%,#681450);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

#logo{
    margin-top: 128px; 
    width: 300px;
}

#logo-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: fixed;
    z-index: 1050;
    width: 100% ;
}

.bg-custom {
    background-color: rgba(17,12,34,0.6);
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    font-weight: 800;
}

.nav-item{
    margin: 2px 12px;
    margin-top: 12px;
}

.nav-item:hover{
    border-bottom: 2px solid #fff;
}

#one{
    height: 100vh;
    width: auto;
    background-image: url('./img/Man2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-login{
    text-align: center;
    padding: 16px;
    margin-top: 12px;
}

#btn-login>a{
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000;
    padding: 6px 8px;
    transition: 0.1s ease-in;
}

#btn-login>a:hover{
    text-decoration: none;
}

#btn-login>a:hover{
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

#main-container{
    margin-bottom: -240px;
}

#two{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.about-text-box {
    margin-top: 24px;
}

#about-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: justify;
    color: #ffffff;
    object-fit: contain;
    word-break: break-word;
}

.about-text-box>h1{
    color: #fff;
    margin-bottom: 68px;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    display: inline-block;
}

@media only screen and (min-width: 760px) and (max-height: 1024px) {

    #two{
        padding: 0 20vh;
    }

    #about-text {
        font-size: 3vh;
    }
}