html{
    scroll-behavior: smooth;
}

body{
    background-image: url("img/BG.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

#ieee{
    width: 156px;
    height: auto;
    display: none;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    outline: none;
}
li{
    margin-top: none;
}

.navbar{
    position: fixed;
    z-index: 1050;
    width: 100% ;
    font-size: 12px;
}

.bg-custom {
    background-color: #1b191d;
    opacity: 0.6;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 800;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    font-weight: 800;
}

.nav-item{
    margin: 2px 12px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.nav-item:hover{
    border-bottom: 2px solid #fff;
}

#one{
    height: auto;
    width: auto;
    background: transparent;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

#main-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
}

#lead-text {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    padding: 20px;
    color: white;
    text-align: center;
    text-shadow: 4px 2px 20px purple;
}

.table {

}

thead {
    border-spacing: 50px 50px;
}

tr {
    color: white;
    text-align: center;
    padding: 20px;
}

thead>tr {
    padding: 100px;
    object-fit: contain;
    border-radius: 20px;
    background-color: rgba(255,255,255, 16%);
}

thead>tr>td{
    color: white;
}




@media only screen and (min-width: 760px) {


    .bg-custom {
        background-color: transparent;
        opacity: 1;
    }


    #ieee{
        width: 156px;
        height: auto;
        display: block;
    }

    #main-container{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 150px 300px 0px 300px;
        width: 100%;
    }


    .row {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
}