html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(172deg,#110c22 33%,#681450);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

.enigma_logo{
    width: 156px;
    height: auto;
}

.login_logo_holder{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

#heading-login{
    color: #fff;
    text-align: center;
}
.navbar{
    position: fixed;
    z-index: 1050;
    width: 100%;
    font-size: 12px;
}

.bg-custom {
    background-color: rgba(17,12,34,0.6);
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    font-weight: 800;
}

.nav-item{
    margin: 2px 12px;
    margin-top: 12px;
}

.nav-item:hover{
    border-bottom: 2px solid #fff;
}

#one{
    height: 100vh;
    width: auto;
    background-image: url('./img/Man2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}


#login-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-box {
    padding: 0px;
    display: block;
    justify-content: center;
    width: 320px;
    text-align: center;
}

#input-box{
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 5px;
    border-radius: 18px;
    width: 100%;
    margin-top: 20px;
    padding: 8px 18px;
    background-color: rgba(255,255,255,20%);

    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

::placeholder{
    color: #D3D3D3;
    font-weight: 100;
}

#input-box:hover {
    background-color: rgba(255,255,255,33%);
}

#input-box:focus {
    outline: none !important;
}

#sign-in{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

#sign-in a{
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000;
    transition: 0.1s ease-in;
    padding: 6px 8px;
}

#sign-in a:hover{
    text-decoration: none;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

#p-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 80px;
    margin-bottom: -60px;
}

#sign-up{
    text-align: center;
    padding: 6px;
    margin-top: -5px;

    color: white;
    font-size: 16px;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000;
    transition: 0.1s ease-in;
    align-self: center;
}

#sign-up:hover{
    text-decoration: none;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}


@media only screen and (min-width: 760px) and (max-height: 1024px) {
    #input-box {

    }
}